<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
            
        <element type="boolean">
            <name>active</name>
            <label>Aktiv</label>
        </element>
          
        <element required="true" type="select">
                <name>paulAlertType</name>
                <label lang="de">Darstellung</label>
                <value>success</value>
                <store>
                        <option>
                                <value>success</value>
                                <label lang="DE">Erfolgreich (grün)</label>
                                </option>
                        <option>
                                <value>error</value>
                                <label lang="DE">Fehler (rot)</label>
                        </option>
                        <option>
                                <value>info</value>
                                <label lang="DE">Information (blau)</label>
                        </option>
                        <option>
                                <value>warning</value>
                                <label lang="DE">Warnung (gelb)</label>
                        </option>
                </store>
        </element>            
            
        <element type="html">
            <name>paulMessageDescription</name>
            <label>Text</label>
        </element>
            
    </elements>
</config>
